<div id="page-title">
    <h5 class="text-overflow">Sửa Khách hàng</h5>
    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="product">Khách hàng</a></li>
    <li class="active">Sửa Khách hàng</li>
</ol>
<!--End breadcrumb-->
<!--Page content-->
<!--===================================================-->
<div id="page-content" ng-controller="customerEditController">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="product_add#sp">Khách hàng </a>
        </li>

    </ul>
    <!--Tabs Content-->
    <div class="tab-content">
        <div class="panel">
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">Tên</label>
                            <input type="text" class="form-control" ng-model="elm.Fullname" required>
                        </div>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <div class="form-group">
                            <label class="control-label">Ngày sinh</label>
                            <input type="date" class="form-control" ng-model="elm.Birthday" required style="line-height: unset!important;">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <div class="form-group">
                            <label class="control-label">Số điện thoại</label>
                            <input type="text" class="form-control" ng-model="elm.Phone" required>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3">
                        <div class="form-group">
                            <label class="control-label">Loại sản phẩm</label>
                            <select class="form-control" ng-model="elm.Gender" required
                                    ng-options="opt.value as opt.text for opt in prop.Genders "></select>
                        </div>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">Tên</label>
                            <input type="text" class="form-control" ng-model="elm.Address" required>
                        </div>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-default btn-icon icon-lg fa fa-arrow-left fa-lg" type="button" ui-sref="customers"></button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-success btn-labeled fa fa-send fa-lg" style="float: right;" type="submit" ng-click="edit()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
