<div id="page-title">
    <h5 class="text-overflow">Sửa Nhà cung cấp</h5>
    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="suppliers">Nhà cung cấp</a></li>
    <li class="active">Chỉnh Sửa<li>
</ol>
<!--End breadcrumb-->
<!--Page content-->
<!--===================================================-->
<div id="page-content" ng-controller="supplierEditController">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="product_add#sp">Thông tin chính </a>
        </li>
        
    </ul>
    <!--Tabs Content-->
    <div class="tab-content">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Tên cửa hàng</label>
                            <input type="text" class="form-control" ng-model="elm.Name" required ng-change="_checkExist()">
                            <span class="error" ng-if="exist">Nhà cung cấp đã tồn tại!</span>
                        </div>
                    </div>
                        
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Địa  chỉ </label>
                            <input type="text" class="form-control" ng-model="elm.Address" value="0">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Số điện thoại </label>
                            <input type="text" class="form-control" ng-model="elm.Phone" value="0">
                        </div>
                    </div>
                </div>
                    
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-default btn-icon icon-lg fa fa-arrow-left fa-lg" type="button" ui-sref="suppliers"></button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success btn-labeled fa fa-send fa-lg" style="float: right;" type="submit" ng-click="edit()" data-target="#demo-panel-ref" data-toggle="panel-overlay">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>