<div ng-controller="userListController">
    <div id="page-title">
        <h5 class="text-overflow">{{properties.function}} {{properties.title.toLowerCase()}}</h5>
        <!--Searchbox-->
        <div class="searchbox">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li >{{properties.function}}</li>
        <li class="active">{{properties.title.toLowerCase()}}</li>
    </ol>
    <!--End breadcrumb-->
    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
        <!--Product table-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div>
            <div class="panel">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-sm-6 table-toolbar-left">
                                <a class="btn btn-purple btn-labeled fa fa-plus" ui-sref="user_add">Add</a>
                                <a class="btn btn-danger btn-labeled fa fa-ban" ui-sref="user_block">Danh sách user bị block</a>
                                
                            </div>
                            <div class="col-sm-6 table-toolbar-right">
                                <div class="form-group">
                                    <input id="input-search" type="text" placeholder="Search" class="form-control" autocomplete="off" ng-model="Search" ng-change="events._keypress()">
                                </div>
                                <div class="form-group">
                                    <input type="number" min="1" max="100" class="form-control" ng-model="properties.pageSize">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">UserName</th>
                                    <th class="text-center">Họ tên</th>
                                    <th class="text-center">Quyền</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Trạng Thái</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="acc in properties.accList|itemsPerPage: properties.pageSize | filter:Search">
                                    <td class="text-center"><a ui-sref="user_edit({ID: '{{acc.Username}}'})" class="btn-link">{{acc.Username}}</a></td>
                                    <td class="text-center">{{acc.FullName}}</td>
                                    <td ng-if="acc.RoleId==0" class="text-center">Chưa cấp</td>
                                    <td ng-if="acc.RoleId==1" class="text-center">Admin</td>
                                    <td ng-if="acc.RoleId==2" class="text-center">Nhân viên</td>
                                    <td ng-if="acc.RoleId==3" class="text-center">Khách hàng</td> 
                                    <td class="text-center">{{acc.Email}}</td>

                                    <td class="text-center">
                                        <span class="label label-table label-success" ng-if="acc.Status">Kích hoạt </span>
                                        <span class="label label-table label-warning" ng-if="!acc.Status">Vô hiệu hóa</span>
                                    </td>
                                    <td class="text-right">
                                        <a class="btn btn-xs btn-default add-tooltip" ui-sref="user_edit({ID: '{{acc.Username}}'})"><i class="fa fa-pencil"></i></a>
                                        <button class="btn btn-xs btn-danger add-tooltip" ng-click="methods._delete(acc.Username,acc.FullName)"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-8">
                                <dir-pagination-controls max-size="15"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bootbox Modals [ OPTIONAL ]-->
        <script src="../Areas/Admin/lib/plugins/bootbox/bootbox.min.js"></script>
        <!--Modals [ SAMPLE ]-->
        <!--End user table-->
    </div>
</div>
<!--===================================================-->
<!--End page content-->