@model WebSiteBanDienThoai.Entity.Product

@{
    ViewBag.Title = "DetialProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xem chi tiết</h2>

<div class="row">
    <div class="col-md-9">
        <div class="pd-top">
            <div class="row">

                <div class="col-md-6">
                    <div class="prod-image clearfix">
                        <img src="@Url.Content("/Images/"+Model.Images)" alt="#" class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 itemprop="name" class="pd-name">Tên SP:@Model.Name</h4>
                    <div class="prod-price clearfix">
                        <b>Giá: </b> <span class="price pd-price">@string.Format("{0:0,0}", @Model.PriceProduct) VND
                    </span>
                    </div>   
                    <div class="pd-form">
                        <form action="/cart/add" method="POST">
                            <h4>
                                Số Lượng
                                <input type="number" title="Qty" value="1" maxlength="12" id="qty" name="quantity" class="input-text qty"><br />
                            </h4>
                           
                            <button type="submit" class="product-atc">Đặt hàng</button>
                        </form>
                        <div class="md-discount-box-inform" id="md-discount-box-inform"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
